<h1>Ron Swanson Quote Generator!</h1>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC3c70LqozQb61NaBhuTmJ4-MPkCWEsaNytwDuRky792NRpHyU">
<a href="http://localhost:3000/getQuote"><button>Get Quote</button></a>
<a href="http://localhost:3000/getQuote/small"><button>Get Small Quote</button></a>
<a href="http://localhost:3000/getQuote/medium"><button>Get medium Quote</button></a>
<a href="http://localhost:3000/getQuote/large"><button>Get large Quote</button></a>
<%if(singleQuote){%>
    <h1><%=singleQuote%></h1>
<%}%>